name: Labeler

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  size:
    name: Label PR Size
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: codelytv/pr-size-labeler@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: "size: XS"
          xs_max_size: 49
          s_label: "size: S"
          s_max_size: 199
          m_label: "size: M"
          m_max_size: 499
          l_label: "size: L"
          l_max_size: 999
          xl_label: "size: XL"
          fail_if_xl: false

  scope:
    name: Label PR Scope
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v6
        with:
          configuration-path: .github/labeler.yml
          sync-labels: true
